
* {
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-variant: small-caps; 
    font-style: normal; 
    line-height: 26.4px;
}

nav {
    display: flex;
    justify-content: end;
    padding: 10px 0px;
}

nav a {
    padding: 0px 20px;
    color: transparent;
}

body {
    background: linear-gradient(90deg, black 0%, black 50%, white 50%, white 100%);
    margin: 0px;
    padding: 20px 50px;
}

header {
    padding: 10px 0px;
}

h1 {
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
}

footer {
    display: flex;
    justify-content: center;
}
img {
    max-width: 1000px;
    width: 100%;
    box-shadow: 5px 5px 20px black;
}

.container {
    display: flex;
    justify-content: center;
}

.invert {
    background: linear-gradient(90deg, white 0%, white 50%, black 50%, black 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.2rem;
    font-weight: bolder;
}

.searchDisplay {
    width: 300px;
    margin: 10px;
}

#videoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#searchVideo {
    margin: 50px;
    display: flex;
    justify-content: end;
}

#searchBar {
    width: 350px;
}

#more {
    display: none;
}

#clock {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

#videoDisplay {
    max-width: 1000px;
    width: 100%;
}

#videoDisplay p {
    line-height: 32px;
}

@media only screen and (max-width: 768px) {
    * {
        line-height: 35px;
    }
}

@media only screen and (max-width: 480px) {
    * {
        line-height: 40px;
    }
}