
* {
    font-family: Copperplate, "Copperplate Gothic";
}

h1 {
    display: flex;
    justify-content: center;
}

footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}
img {
    max-width: 1000px;
    width: 100%;
}

.container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#clock {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#videoDisplay {
    max-width: 1000px;
    width: 100%;
}
